.App {
  font-family: sans-serif;
  text-align: center;
}

.react-flow .react-flow__node-default {
  background: #6363de;
  width: 130px;
  height: 50px;
  border: 1px solid #6363de;
}

.react-flow .react-flow__node-input {
  background: #6363de;
  width: 130px;
  height: 50px;
  border: 1px solid #6363de;
}

.react-flow .react-flow__node-output {
  background: #6363de;
  width: 130px;
  height: 50px;
  border: 1px solid #6363de;
}

.react-flow .react-flow__edge.animated path {
  stroke-dasharray: 0;
}

.react-flow .react-flow__edge-path {
  fill: none;
  stroke: #0404f8;
  stroke-width: 1;
}
